.dark-mode.grommet.grommetux-app {
  background: #141526;
  color: #686a83; }

.dark-mode header, .dark-mode footer {
  background: #05060A; }

.dark-mode footer,
.dark-mode .grommetux-background-color-index--dark .grommetux-paragraph,
.dark-mode .grommetux-background-color-index--light .grommetux-background-color-index--dark
.grommetux-paragraph {
  color: #bdbecb !important; }
  .dark-mode footer a,
  .dark-mode .grommetux-background-color-index--dark .grommetux-paragraph a,
  .dark-mode .grommetux-background-color-index--light .grommetux-background-color-index--dark
.grommetux-paragraph a {
    color: #686a83 !important; }
    .dark-mode footer a:hover,
    .dark-mode .grommetux-background-color-index--dark .grommetux-paragraph a:hover,
    .dark-mode .grommetux-background-color-index--light .grommetux-background-color-index--dark
.grommetux-paragraph a:hover {
      color: #bdbecb !important; }

.dark-mode .logo-letters path, .dark-mode .logo-letters polygon {
  fill: #505164; }

.dark-mode .logo-pin {
  fill: #fd5832; }

.dark-mode .africa.ripple {
  animation: africa-dark 2.1s 2s ease-out infinite; }

@keyframes africa-dark {
  0% {
    box-shadow: 0 0 8px 6px rgba(76, 84, 163, 0), 0 0 0px 0px rgba(20, 21, 38, 0.4), 0 0 0px 0px rgba(76, 84, 163, 0); }
  10% {
    box-shadow: 0 0 8px 6px #4c54a3, 0 0 12px 10px rgba(20, 21, 38, 0.4), 0 0 12px 14px #4c54a3; }
  100% {
    box-shadow: 0 0 8px 6px rgba(76, 84, 163, 0), 0 0 0px 40px rgba(20, 21, 38, 0.4), 0 0 0px 40px rgba(76, 84, 163, 0); } }

.dark-mode .asia.ripple {
  animation: asia-dark 2.2s 4s ease-out infinite; }

@keyframes asia-dark {
  0% {
    box-shadow: 0 0 8px 6px rgba(253, 88, 50, 0), 0 0 0px 0px rgba(20, 21, 38, 0.4), 0 0 0px 0px rgba(253, 88, 50, 0); }
  10% {
    box-shadow: 0 0 8px 6px #fd5832, 0 0 12px 10px rgba(20, 21, 38, 0.4), 0 0 12px 14px #fd5832; }
  100% {
    box-shadow: 0 0 8px 6px rgba(253, 88, 50, 0), 0 0 0px 40px rgba(20, 21, 38, 0.4), 0 0 0px 40px rgba(253, 88, 50, 0); } }

.dark-mode .austrailia.ripple {
  animation: austrailia-dark 2.3s 6s ease-out infinite; }

@keyframes austrailia-dark {
  0% {
    box-shadow: 0 0 8px 6px rgba(35, 185, 209, 0), 0 0 0px 0px rgba(20, 21, 38, 0.4), 0 0 0px 0px rgba(35, 185, 209, 0); }
  10% {
    box-shadow: 0 0 8px 6px #23b9d1, 0 0 12px 10px rgba(20, 21, 38, 0.4), 0 0 12px 14px #23b9d1; }
  100% {
    box-shadow: 0 0 8px 6px rgba(35, 185, 209, 0), 0 0 0px 40px rgba(20, 21, 38, 0.4), 0 0 0px 40px rgba(35, 185, 209, 0); } }

.dark-mode .europe.ripple {
  animation: europe-dark 2.4s 8s ease-out infinite; }

@keyframes europe-dark {
  0% {
    box-shadow: 0 0 8px 6px rgba(159, 212, 200, 0), 0 0 0px 0px rgba(20, 21, 38, 0.4), 0 0 0px 0px rgba(159, 212, 200, 0); }
  10% {
    box-shadow: 0 0 8px 6px #9fd4c8, 0 0 12px 10px rgba(20, 21, 38, 0.4), 0 0 12px 14px #9fd4c8; }
  100% {
    box-shadow: 0 0 8px 6px rgba(159, 212, 200, 0), 0 0 0px 40px rgba(20, 21, 38, 0.4), 0 0 0px 40px rgba(159, 212, 200, 0); } }

.dark-mode .northAmerica.ripple {
  animation: northAmerica-dark 2.5s 10s ease-out infinite; }

@keyframes northAmerica-dark {
  0% {
    box-shadow: 0 0 8px 6px rgba(255, 135, 41, 0), 0 0 0px 0px rgba(20, 21, 38, 0.4), 0 0 0px 0px rgba(255, 135, 41, 0); }
  10% {
    box-shadow: 0 0 8px 6px #ff8729, 0 0 12px 10px rgba(20, 21, 38, 0.4), 0 0 12px 14px #ff8729; }
  100% {
    box-shadow: 0 0 8px 6px rgba(255, 135, 41, 0), 0 0 0px 40px rgba(20, 21, 38, 0.4), 0 0 0px 40px rgba(255, 135, 41, 0); } }

.dark-mode .southAmerica.ripple {
  animation: southAmerica-dark 2.6s 12s ease-out infinite; }

@keyframes southAmerica-dark {
  0% {
    box-shadow: 0 0 8px 6px rgba(35, 185, 209, 0), 0 0 0px 0px rgba(20, 21, 38, 0.4), 0 0 0px 0px rgba(35, 185, 209, 0); }
  10% {
    box-shadow: 0 0 8px 6px #23b9d1, 0 0 12px 10px rgba(20, 21, 38, 0.4), 0 0 12px 14px #23b9d1; }
  100% {
    box-shadow: 0 0 8px 6px rgba(35, 185, 209, 0), 0 0 0px 40px rgba(20, 21, 38, 0.4), 0 0 0px 40px rgba(35, 185, 209, 0); } }

.dark-mode .grommetux-layer .grommetux-layer__container {
  background: #05060A; }

.dark-mode header .grommetux-meter__graphic-container .grommetux-meter__tracks path {
  stroke: #2e2f3a; }

.dark-mode header .grommetux-meter__graphic-container[data-value="100"] .grommetux-meter__values path {
  stroke: #ccf141; }

.dark-mode header .grommetux-meter__graphic-container[data-value="90"] .grommetux-meter__values path {
  stroke: #e5e328; }

.dark-mode header .grommetux-meter__graphic-container[data-value="80"] .grommetux-meter__values path {
  stroke: #fed50f; }

.dark-mode header .grommetux-meter__graphic-container[data-value="70"] .grommetux-meter__values path {
  stroke: #ffc700; }

.dark-mode header .grommetux-meter__graphic-container[data-value="60"] .grommetux-meter__values path {
  stroke: #ffb900; }

.dark-mode header .grommetux-meter__graphic-container[data-value="50"] .grommetux-meter__values path {
  stroke: #ffab00; }

.dark-mode header .grommetux-meter__graphic-container[data-value="40"] .grommetux-meter__values path {
  stroke: #ff9d00; }

.dark-mode header .grommetux-meter__graphic-container[data-value="30"] .grommetux-meter__values path {
  stroke: #ff8f00; }

.dark-mode header .grommetux-meter__graphic-container[data-value="20"] .grommetux-meter__values path {
  stroke: #ff8100; }

.dark-mode header .grommetux-meter__graphic-container[data-value="10"] .grommetux-meter__values path {
  stroke: #ff7300; }

.dark-mode .grommetux-label--small {
  font-weight: bold;
  color: #686a83; }

.dark-mode .grommetux-button {
  color: #686a83;
  border-color: #c271fe; }
  .dark-mode .grommetux-button .grommetux-control-icon {
    fill: #686a83;
    stroke: #686a83; }
  .dark-mode .grommetux-button:hover {
    box-shadow: 0px 0px 0px 2px #c271fe;
    color: #9193a8; }
    .dark-mode .grommetux-button:hover .grommetux-control-icon {
      fill: #9193a8;
      stroke: #9193a8; }
  .dark-mode .grommetux-button__accent-2 {
    border-color: #c271fe; }
    .dark-mode .grommetux-button__accent-2:hover {
      box-shadow: 0px 0px 0px 2px #c271fe; }
  .dark-mode .grommetux-button--accent {
    border-color: #6afff3; }
    .dark-mode .grommetux-button--accent:hover {
      box-shadow: 0px 0px 0px 2px #6afff3; }
  .dark-mode .grommetux-button__accent-3 {
    border-color: #fd5832; }
    .dark-mode .grommetux-button__accent-3:hover {
      box-shadow: 0px 0px 0px 2px #fd5832; }
  .dark-mode .grommetux-button--more[data-value="100"] {
    border-color: #ccf141; }
    .dark-mode .grommetux-button--more[data-value="100"]:hover {
      box-shadow: 0px 0px 0px 2px #ccf141; }
  .dark-mode .grommetux-button--more[data-value="90"] {
    border-color: #e5e328; }
    .dark-mode .grommetux-button--more[data-value="90"]:hover {
      box-shadow: 0px 0px 0px 2px #e5e328; }
  .dark-mode .grommetux-button--more[data-value="80"] {
    border-color: #fed50f; }
    .dark-mode .grommetux-button--more[data-value="80"]:hover {
      box-shadow: 0px 0px 0px 2px #fed50f; }
  .dark-mode .grommetux-button--more[data-value="70"] {
    border-color: #ffc700; }
    .dark-mode .grommetux-button--more[data-value="70"]:hover {
      box-shadow: 0px 0px 0px 2px #ffc700; }
  .dark-mode .grommetux-button--more[data-value="60"] {
    border-color: #ffb900; }
    .dark-mode .grommetux-button--more[data-value="60"]:hover {
      box-shadow: 0px 0px 0px 2px #ffb900; }
  .dark-mode .grommetux-button--more[data-value="50"] {
    border-color: #ffab00; }
    .dark-mode .grommetux-button--more[data-value="50"]:hover {
      box-shadow: 0px 0px 0px 2px #ffab00; }
  .dark-mode .grommetux-button--more[data-value="40"] {
    border-color: #ff9d00; }
    .dark-mode .grommetux-button--more[data-value="40"]:hover {
      box-shadow: 0px 0px 0px 2px #ff9d00; }
  .dark-mode .grommetux-button--more[data-value="30"] {
    border-color: #ff8f00; }
    .dark-mode .grommetux-button--more[data-value="30"]:hover {
      box-shadow: 0px 0px 0px 2px #ff8f00; }
  .dark-mode .grommetux-button--more[data-value="20"] {
    border-color: #ff8100; }
    .dark-mode .grommetux-button--more[data-value="20"]:hover {
      box-shadow: 0px 0px 0px 2px #ff8100; }
  .dark-mode .grommetux-button--more[data-value="10"] {
    border-color: #ff7300; }
    .dark-mode .grommetux-button--more[data-value="10"]:hover {
      box-shadow: 0px 0px 0px 2px #ff7300; }
  .dark-mode .grommetux-button.disabled {
    color: #505164;
    border-color: #505164; }
    .dark-mode .grommetux-button.disabled:hover {
      box-shadow: none; }
    .dark-mode .grommetux-button.disabled .grommetux-control-icon {
      fill: #505164;
      stroke: #505164; }

.round-info-box .round-score {
  background: #fd5832;
  color: #05060A; }
  .round-info-box .round-score svg path {
    stroke: #05060A !important; }

.round-info-box .round-location {
  background: #141526;
  border: 3px solid #fd5832;
  color: #fd5832; }
  .round-info-box .round-location .grommetux-value__label {
    color: #9193a8; }
  .round-info-box .round-location svg path {
    stroke: #fd5832 !important; }

#game-summary-layer > div {
  background: #141526;
  color: #686a83 !important; }
