.round-info-slider {
  background: transparent; }
  .round-info-slider .ns-close {
    top: 1.8em;
    right: 1.8em; }
    .ns-show .round-info-slider .ns-close {
      animation-name: animFade;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      opacity: 0; }
