.grommet img {
  border: 1px solid #e6e6e6;
  background-color: white;
  padding: 10px;
  // margin: 25px;
  // max-width: 80%;
}

.grommetux-tiles--fill.grommetux-box--wrap>.grommetux-tile {
  justify-content: center;
}

// .images {
//   max-width: 1280px;
//   margin: 0 auto;
// }

// @media screen and (min-width: 1280px) {
//   .images {
//     padding-left: 140px;
//   }
// }

@media screen and (max-width: 890px) {
  .img {
    // position: initial !important;
    // width: fit-content;
    // margin: 15px auto !important;
  }
}


.fixed {
  position: fixed;
  top: 0;
  background: white;
}

haeder {
  background: white;
}


.grommetux-layer--closeable:not(.grommetux-layer--hidden) ~ .grommet.grommetux-app--hidden {
  position: static;
}

#skip-link-layer.grommetux-layer--hidden, .grommetux-layer {
  background: transparent;
  bottom: initial;
  left: calc(100vw - 388px);
  box-shadow: 1px 4px 9px 0px rgba(0,0,0,0.28);
  max-width: 388px;
  max-height: 255px;
  padding: 2px;
}

@media screen and (min-width: 45em) {
  // .grommetux-layer--align-center.grommetux-layer--closeable:not(.grommetux-layer--hidden) {
  //   width: 288px;
  //   height: 255px;
  //   left: calc(100vw - 388px);
  //   top: 0;

  // }
  .grommetux-layer--align-center.grommetux-layer--closeable:not(.grommetux-layer--hidden) .grommetux-layer__container {
    // bottom: initial;
    // left: calc(100vw - 388px);
    // box-shadow: 1px 4px 9px 0px rgba(0,0,0,0.28);
    // max-width: 388px;
    // max-height: 255px;
    width: 100%;
    height: 100%;
    padding: 2px;
    top: 0;
    right: 0;
    transform: none;
    -webkit-transform: none;
  }
}

#logo {
  position: absolute;
  top: 260px;
  left: 50px;
  width: 200px;
}


.grommetux-button:not(.grommetux-button--box):hover {
  border-width: 4px;
  margin: -2px;
}


@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin shadow($b, $s, $sm, $c) {
  box-shadow: 0 0 8px 6px $c,
  0 0 $b $s rgba(#fff, 0.4),
  0 0 $b ($s + $sm) $c;
}

$continent-map: (
  africa: #4c54a3,
  asia: #fd5832,
  austrailia: #23b9d1,
  europe: #9fd4c8,
  northAmerica: #ff8729,
  southAmerica: #23b9d1
) !default;

circle {
  transition: all 0.2s;
}

@each $continent, $color in $continent-map {
  $i: index($continent-map, ($continent $color));
  .#{$continent}.ripple {
    background-color: lighten($color, 5%);
    animation: $continent (2 + $i/10)+s ($i)+s ease-out infinite;
  }

  @include keyframes($continent) {
    0% { @include shadow(0px, 0px, 0px, rgba($color, 0)); }
    10% { @include shadow(12px, 10px, 4px, $color); }
    100% { @include shadow(0px, 40px, 0px, rgba($color, 0)); }
  }
}
