body {
  margin-top: -25px; }

a[title="Interactive JavaScript maps"], g[cursor="pointer"] {
  display: none !important; }

div[id^="__AmCharts"] path[stroke="#FFFFFF"] {
  stroke: #141526 !important; }

#root {
  position: relative; }

* {
  outline: none !important; }

header {
  max-height: 120px; }

.grommet.grommetux-app--hidden {
  position: static;
  overflow: hidden; }

.grommetux-tiles--fill.grommetux-box--wrap > .grommetux-tile {
  justify-content: center; }

@media screen and (min-width: 45em) {
  .image-expand-layer .grommetux-layer__container {
    padding: 0;
    padding-right: 50px;
    background: transparent;
    box-shadow: 1px 4px 9px 0px rgba(0, 0, 0, 0.28); }
  .image-expand-layer button .grommetux-control-icon {
    fill: #bcbecb;
    stroke: #bcbecb; }
  .image-expand-layer button:hover .grommetux-control-icon {
    fill: #9fa2b5;
    stroke: #9fa2b5;
    margin: 0;
    padding: 0; } }

.round-info-box-wrapper {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  z-index: 1; }

.round-info-box {
  height: 100px; }

.round-location {
  max-height: 100px;
  z-index: 2; }
  .round-location .grommetux-value__label {
    max-width: 200px;
    font-size: .95rem; }

.round-score {
  max-height: 100px;
  z-index: 1; }
  .round-score svg {
    margin-right: 0 !important; }

.grommetux-button.disabled:not(.grommetux-button--box) {
  cursor: default !important; }

circle {
  transition: all 0.2s; }

.delay-1 {
  animation-delay: 2s !important; }

.delay-2 {
  animation-delay: 4s !important; }

.delay-3 {
  animation-delay: 6s !important; }

#mode-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  box-shadow: none; }
  #mode-button:hover, #mode-button:active {
    border: none;
    box-shadow: none;
    margin: 0; }

#hero {
  height: calc(100vh - 120px);
  margin-bottom: 0; }
  #hero #dot-map {
    height: 100%;
    width: 100%; }
  #hero #logo {
    height: 100%;
    width: 100%;
    max-height: 200px;
    max-width: 200px; }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

@keyframes animSlide {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes animJelly {
  0% {
    opacity: 0;
    transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.083333% {
    transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.166667% {
    transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.25% {
    transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.333333% {
    transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.416667% {
    opacity: 1;
    transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.5% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.583333% {
    transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% {
    transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.75% {
    transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.833333% {
    transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.916667% {
    transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25% {
    transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.083333% {
    transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.166667% {
    transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.25% {
    transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% {
    transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.416667% {
    transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  37.5% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.583333% {
    transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.666667% {
    transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.75% {
    transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.833333% {
    transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.916667% {
    transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% {
    transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.083333% {
    transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.166667% {
    transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.25% {
    transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.333333% {
    transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60.416667% {
    transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.5% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64.583333% {
    transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% {
    transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68.75% {
    transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.833333% {
    transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  72.916667% {
    transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  77.083333% {
    transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  79.166667% {
    transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.25% {
    transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% {
    transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.416667% {
    transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.5% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.583333% {
    transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.666667% {
    transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.75% {
    transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.833333% {
    transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  97.916667% {
    transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

.bounceIn {
  animation-name: bounceIn; }

.round-location {
  animation: 1s linear animJelly; }

#game-summary-layer:not(.grommetux-layer--hidden) ~ .grommetux-app {
  height: calc(100vh + 25px);
  width: 100%;
  position: absolute; }

.react-draggable {
  position: fixed !important; }

#header-play-button > span {
  padding: 5px !important; }

.dark-mode.grommet.grommetux-app {
  background: #141526;
  color: #686a83; }

.dark-mode header, .dark-mode footer {
  background: #05060A; }

.dark-mode footer,
.dark-mode .grommetux-background-color-index--dark .grommetux-paragraph,
.dark-mode .grommetux-background-color-index--light .grommetux-background-color-index--dark
.grommetux-paragraph {
  color: #bdbecb !important; }
  .dark-mode footer a,
  .dark-mode .grommetux-background-color-index--dark .grommetux-paragraph a,
  .dark-mode .grommetux-background-color-index--light .grommetux-background-color-index--dark
.grommetux-paragraph a {
    color: #686a83 !important; }
    .dark-mode footer a:hover,
    .dark-mode .grommetux-background-color-index--dark .grommetux-paragraph a:hover,
    .dark-mode .grommetux-background-color-index--light .grommetux-background-color-index--dark
.grommetux-paragraph a:hover {
      color: #bdbecb !important; }

.dark-mode .logo-letters path, .dark-mode .logo-letters polygon {
  fill: #505164; }

.dark-mode .logo-pin {
  fill: #fd5832; }

.dark-mode .africa.ripple {
  animation: africa-dark 2.1s 2s ease-out infinite; }

@keyframes africa-dark {
  0% {
    box-shadow: 0 0 8px 6px rgba(76, 84, 163, 0), 0 0 0px 0px rgba(20, 21, 38, 0.4), 0 0 0px 0px rgba(76, 84, 163, 0); }
  10% {
    box-shadow: 0 0 8px 6px #4c54a3, 0 0 12px 10px rgba(20, 21, 38, 0.4), 0 0 12px 14px #4c54a3; }
  100% {
    box-shadow: 0 0 8px 6px rgba(76, 84, 163, 0), 0 0 0px 40px rgba(20, 21, 38, 0.4), 0 0 0px 40px rgba(76, 84, 163, 0); } }

.dark-mode .asia.ripple {
  animation: asia-dark 2.2s 4s ease-out infinite; }

@keyframes asia-dark {
  0% {
    box-shadow: 0 0 8px 6px rgba(253, 88, 50, 0), 0 0 0px 0px rgba(20, 21, 38, 0.4), 0 0 0px 0px rgba(253, 88, 50, 0); }
  10% {
    box-shadow: 0 0 8px 6px #fd5832, 0 0 12px 10px rgba(20, 21, 38, 0.4), 0 0 12px 14px #fd5832; }
  100% {
    box-shadow: 0 0 8px 6px rgba(253, 88, 50, 0), 0 0 0px 40px rgba(20, 21, 38, 0.4), 0 0 0px 40px rgba(253, 88, 50, 0); } }

.dark-mode .austrailia.ripple {
  animation: austrailia-dark 2.3s 6s ease-out infinite; }

@keyframes austrailia-dark {
  0% {
    box-shadow: 0 0 8px 6px rgba(35, 185, 209, 0), 0 0 0px 0px rgba(20, 21, 38, 0.4), 0 0 0px 0px rgba(35, 185, 209, 0); }
  10% {
    box-shadow: 0 0 8px 6px #23b9d1, 0 0 12px 10px rgba(20, 21, 38, 0.4), 0 0 12px 14px #23b9d1; }
  100% {
    box-shadow: 0 0 8px 6px rgba(35, 185, 209, 0), 0 0 0px 40px rgba(20, 21, 38, 0.4), 0 0 0px 40px rgba(35, 185, 209, 0); } }

.dark-mode .europe.ripple {
  animation: europe-dark 2.4s 8s ease-out infinite; }

@keyframes europe-dark {
  0% {
    box-shadow: 0 0 8px 6px rgba(159, 212, 200, 0), 0 0 0px 0px rgba(20, 21, 38, 0.4), 0 0 0px 0px rgba(159, 212, 200, 0); }
  10% {
    box-shadow: 0 0 8px 6px #9fd4c8, 0 0 12px 10px rgba(20, 21, 38, 0.4), 0 0 12px 14px #9fd4c8; }
  100% {
    box-shadow: 0 0 8px 6px rgba(159, 212, 200, 0), 0 0 0px 40px rgba(20, 21, 38, 0.4), 0 0 0px 40px rgba(159, 212, 200, 0); } }

.dark-mode .northAmerica.ripple {
  animation: northAmerica-dark 2.5s 10s ease-out infinite; }

@keyframes northAmerica-dark {
  0% {
    box-shadow: 0 0 8px 6px rgba(255, 135, 41, 0), 0 0 0px 0px rgba(20, 21, 38, 0.4), 0 0 0px 0px rgba(255, 135, 41, 0); }
  10% {
    box-shadow: 0 0 8px 6px #ff8729, 0 0 12px 10px rgba(20, 21, 38, 0.4), 0 0 12px 14px #ff8729; }
  100% {
    box-shadow: 0 0 8px 6px rgba(255, 135, 41, 0), 0 0 0px 40px rgba(20, 21, 38, 0.4), 0 0 0px 40px rgba(255, 135, 41, 0); } }

.dark-mode .southAmerica.ripple {
  animation: southAmerica-dark 2.6s 12s ease-out infinite; }

@keyframes southAmerica-dark {
  0% {
    box-shadow: 0 0 8px 6px rgba(35, 185, 209, 0), 0 0 0px 0px rgba(20, 21, 38, 0.4), 0 0 0px 0px rgba(35, 185, 209, 0); }
  10% {
    box-shadow: 0 0 8px 6px #23b9d1, 0 0 12px 10px rgba(20, 21, 38, 0.4), 0 0 12px 14px #23b9d1; }
  100% {
    box-shadow: 0 0 8px 6px rgba(35, 185, 209, 0), 0 0 0px 40px rgba(20, 21, 38, 0.4), 0 0 0px 40px rgba(35, 185, 209, 0); } }

.dark-mode .grommetux-layer .grommetux-layer__container {
  background: #05060A; }

.dark-mode header .grommetux-meter__graphic-container .grommetux-meter__tracks path {
  stroke: #2e2f3a; }

.dark-mode header .grommetux-meter__graphic-container[data-value="100"] .grommetux-meter__values path {
  stroke: #ccf141; }

.dark-mode header .grommetux-meter__graphic-container[data-value="90"] .grommetux-meter__values path {
  stroke: #e5e328; }

.dark-mode header .grommetux-meter__graphic-container[data-value="80"] .grommetux-meter__values path {
  stroke: #fed50f; }

.dark-mode header .grommetux-meter__graphic-container[data-value="70"] .grommetux-meter__values path {
  stroke: #ffc700; }

.dark-mode header .grommetux-meter__graphic-container[data-value="60"] .grommetux-meter__values path {
  stroke: #ffb900; }

.dark-mode header .grommetux-meter__graphic-container[data-value="50"] .grommetux-meter__values path {
  stroke: #ffab00; }

.dark-mode header .grommetux-meter__graphic-container[data-value="40"] .grommetux-meter__values path {
  stroke: #ff9d00; }

.dark-mode header .grommetux-meter__graphic-container[data-value="30"] .grommetux-meter__values path {
  stroke: #ff8f00; }

.dark-mode header .grommetux-meter__graphic-container[data-value="20"] .grommetux-meter__values path {
  stroke: #ff8100; }

.dark-mode header .grommetux-meter__graphic-container[data-value="10"] .grommetux-meter__values path {
  stroke: #ff7300; }

.dark-mode .grommetux-label--small {
  font-weight: bold;
  color: #686a83; }

.dark-mode .grommetux-button {
  color: #686a83;
  border-color: #c271fe; }
  .dark-mode .grommetux-button .grommetux-control-icon {
    fill: #686a83;
    stroke: #686a83; }
  .dark-mode .grommetux-button:hover {
    box-shadow: 0px 0px 0px 2px #c271fe;
    color: #9193a8; }
    .dark-mode .grommetux-button:hover .grommetux-control-icon {
      fill: #9193a8;
      stroke: #9193a8; }
  .dark-mode .grommetux-button__accent-2 {
    border-color: #c271fe; }
    .dark-mode .grommetux-button__accent-2:hover {
      box-shadow: 0px 0px 0px 2px #c271fe; }
  .dark-mode .grommetux-button--accent {
    border-color: #6afff3; }
    .dark-mode .grommetux-button--accent:hover {
      box-shadow: 0px 0px 0px 2px #6afff3; }
  .dark-mode .grommetux-button__accent-3 {
    border-color: #fd5832; }
    .dark-mode .grommetux-button__accent-3:hover {
      box-shadow: 0px 0px 0px 2px #fd5832; }
  .dark-mode .grommetux-button--more[data-value="100"] {
    border-color: #ccf141; }
    .dark-mode .grommetux-button--more[data-value="100"]:hover {
      box-shadow: 0px 0px 0px 2px #ccf141; }
  .dark-mode .grommetux-button--more[data-value="90"] {
    border-color: #e5e328; }
    .dark-mode .grommetux-button--more[data-value="90"]:hover {
      box-shadow: 0px 0px 0px 2px #e5e328; }
  .dark-mode .grommetux-button--more[data-value="80"] {
    border-color: #fed50f; }
    .dark-mode .grommetux-button--more[data-value="80"]:hover {
      box-shadow: 0px 0px 0px 2px #fed50f; }
  .dark-mode .grommetux-button--more[data-value="70"] {
    border-color: #ffc700; }
    .dark-mode .grommetux-button--more[data-value="70"]:hover {
      box-shadow: 0px 0px 0px 2px #ffc700; }
  .dark-mode .grommetux-button--more[data-value="60"] {
    border-color: #ffb900; }
    .dark-mode .grommetux-button--more[data-value="60"]:hover {
      box-shadow: 0px 0px 0px 2px #ffb900; }
  .dark-mode .grommetux-button--more[data-value="50"] {
    border-color: #ffab00; }
    .dark-mode .grommetux-button--more[data-value="50"]:hover {
      box-shadow: 0px 0px 0px 2px #ffab00; }
  .dark-mode .grommetux-button--more[data-value="40"] {
    border-color: #ff9d00; }
    .dark-mode .grommetux-button--more[data-value="40"]:hover {
      box-shadow: 0px 0px 0px 2px #ff9d00; }
  .dark-mode .grommetux-button--more[data-value="30"] {
    border-color: #ff8f00; }
    .dark-mode .grommetux-button--more[data-value="30"]:hover {
      box-shadow: 0px 0px 0px 2px #ff8f00; }
  .dark-mode .grommetux-button--more[data-value="20"] {
    border-color: #ff8100; }
    .dark-mode .grommetux-button--more[data-value="20"]:hover {
      box-shadow: 0px 0px 0px 2px #ff8100; }
  .dark-mode .grommetux-button--more[data-value="10"] {
    border-color: #ff7300; }
    .dark-mode .grommetux-button--more[data-value="10"]:hover {
      box-shadow: 0px 0px 0px 2px #ff7300; }
  .dark-mode .grommetux-button.disabled {
    color: #505164;
    border-color: #505164; }
    .dark-mode .grommetux-button.disabled:hover {
      box-shadow: none; }
    .dark-mode .grommetux-button.disabled .grommetux-control-icon {
      fill: #505164;
      stroke: #505164; }

.round-info-box .round-score {
  background: #fd5832;
  color: #05060A; }
  .round-info-box .round-score svg path {
    stroke: #05060A !important; }

.round-info-box .round-location {
  background: #141526;
  border: 3px solid #fd5832;
  color: #fd5832; }
  .round-info-box .round-location .grommetux-value__label {
    color: #9193a8; }
  .round-info-box .round-location svg path {
    stroke: #fd5832 !important; }

#game-summary-layer > div {
  background: #141526;
  color: #686a83 !important; }

.light-mode {
  header-background: white; }
  .light-mode.grommet.grommetux-app {
    color: #141526; }
  .light-mode header {
    background: white; }
  .light-mode .logo-letters path, .light-mode .logo-letters polygon {
    fill: #141526; }
  .light-mode .logo-pin {
    fill: #fd5832; }
  .light-mode .grommet img {
    border: 1px solid #e6e6e6;
    background-color: white;
    padding: 10px; }
  .light-mode .africa.ripple {
    background-color: #5860b1;
    animation: africa-light 2.1s 2s ease-out infinite; }

@keyframes africa-light {
  0% {
    box-shadow: 0 0 8px 6px rgba(76, 84, 163, 0), 0 0 0px 0px rgba(255, 255, 255, 0.4), 0 0 0px 0px rgba(76, 84, 163, 0); }
  10% {
    box-shadow: 0 0 8px 6px #4c54a3, 0 0 12px 10px rgba(255, 255, 255, 0.4), 0 0 12px 14px #4c54a3; }
  100% {
    box-shadow: 0 0 8px 6px rgba(76, 84, 163, 0), 0 0 0px 40px rgba(255, 255, 255, 0.4), 0 0 0px 40px rgba(76, 84, 163, 0); } }
  .light-mode .asia.ripple {
    background-color: #fd6d4b;
    animation: asia-light 2.2s 4s ease-out infinite; }

@keyframes asia-light {
  0% {
    box-shadow: 0 0 8px 6px rgba(253, 88, 50, 0), 0 0 0px 0px rgba(255, 255, 255, 0.4), 0 0 0px 0px rgba(253, 88, 50, 0); }
  10% {
    box-shadow: 0 0 8px 6px #fd5832, 0 0 12px 10px rgba(255, 255, 255, 0.4), 0 0 12px 14px #fd5832; }
  100% {
    box-shadow: 0 0 8px 6px rgba(253, 88, 50, 0), 0 0 0px 40px rgba(255, 255, 255, 0.4), 0 0 0px 40px rgba(253, 88, 50, 0); } }
  .light-mode .austrailia.ripple {
    background-color: #31c5dd;
    animation: austrailia-light 2.3s 6s ease-out infinite; }

@keyframes austrailia-light {
  0% {
    box-shadow: 0 0 8px 6px rgba(35, 185, 209, 0), 0 0 0px 0px rgba(255, 255, 255, 0.4), 0 0 0px 0px rgba(35, 185, 209, 0); }
  10% {
    box-shadow: 0 0 8px 6px #23b9d1, 0 0 12px 10px rgba(255, 255, 255, 0.4), 0 0 12px 14px #23b9d1; }
  100% {
    box-shadow: 0 0 8px 6px rgba(35, 185, 209, 0), 0 0 0px 40px rgba(255, 255, 255, 0.4), 0 0 0px 40px rgba(35, 185, 209, 0); } }
  .light-mode .europe.ripple {
    background-color: #b1dcd2;
    animation: europe-light 2.4s 8s ease-out infinite; }

@keyframes europe-light {
  0% {
    box-shadow: 0 0 8px 6px rgba(159, 212, 200, 0), 0 0 0px 0px rgba(255, 255, 255, 0.4), 0 0 0px 0px rgba(159, 212, 200, 0); }
  10% {
    box-shadow: 0 0 8px 6px #9fd4c8, 0 0 12px 10px rgba(255, 255, 255, 0.4), 0 0 12px 14px #9fd4c8; }
  100% {
    box-shadow: 0 0 8px 6px rgba(159, 212, 200, 0), 0 0 0px 40px rgba(255, 255, 255, 0.4), 0 0 0px 40px rgba(159, 212, 200, 0); } }
  .light-mode .northAmerica.ripple {
    background-color: #ff9543;
    animation: northAmerica-light 2.5s 10s ease-out infinite; }

@keyframes northAmerica-light {
  0% {
    box-shadow: 0 0 8px 6px rgba(255, 135, 41, 0), 0 0 0px 0px rgba(255, 255, 255, 0.4), 0 0 0px 0px rgba(255, 135, 41, 0); }
  10% {
    box-shadow: 0 0 8px 6px #ff8729, 0 0 12px 10px rgba(255, 255, 255, 0.4), 0 0 12px 14px #ff8729; }
  100% {
    box-shadow: 0 0 8px 6px rgba(255, 135, 41, 0), 0 0 0px 40px rgba(255, 255, 255, 0.4), 0 0 0px 40px rgba(255, 135, 41, 0); } }
  .light-mode .southAmerica.ripple {
    background-color: #31c5dd;
    animation: southAmerica-light 2.6s 12s ease-out infinite; }

@keyframes southAmerica-light {
  0% {
    box-shadow: 0 0 8px 6px rgba(35, 185, 209, 0), 0 0 0px 0px rgba(255, 255, 255, 0.4), 0 0 0px 0px rgba(35, 185, 209, 0); }
  10% {
    box-shadow: 0 0 8px 6px #23b9d1, 0 0 12px 10px rgba(255, 255, 255, 0.4), 0 0 12px 14px #23b9d1; }
  100% {
    box-shadow: 0 0 8px 6px rgba(35, 185, 209, 0), 0 0 0px 40px rgba(255, 255, 255, 0.4), 0 0 0px 40px rgba(35, 185, 209, 0); } }
  .light-mode .grommetux-button.disabled {
    border-color: #c6c6c6;
    cursor: default;
    color: #c6c6c6; }
    .light-mode .grommetux-button.disabled .grommetux-control-icon path {
      stroke: #c6c6c6 !important; }
  .light-mode footer {
    background: #F3F3F3; }
    .light-mode footer .grommetux-paragraph {
      color: #232426; }
